<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/co-design/css/codidact.css" />
</head>
<body>
    <header class="header">
        <div class="container header--container">
            <div class="header--brand">
                <a class="header--site-name" asp-area="" asp-controller="Home" asp-action="Index">Codidact</a>
            </div>
            <div class="header--menu">
                <a class="header--item" href="#">Place holder 1</a>
                <a class="header--item" href="#">Place holder 2</a>
                <a class="header--item" href="#">Place holder 3</a>
                <div class="header--separator"></div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="header--item" asp-area="" asp-controller="Home" asp-action="Login">Sign In</a>
                }
                else
                {
                    <a class="header--item" asp-area="" asp-controller="Home" asp-action="Logout">Sign Out</a>
                }
                <a class="header--item" href="https://github.com/codidact/core">on GitHub</a>
                <a class="header--item is-mobile-menu is-complex" data-trigger-header-slide="#js-hms" href="#!">
                    <span class="header--menu-bars">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <aside class="header-slide" id="js-hms">
        <a class="header-slide--item" href="#">Placeholder 1</a>
        <a class="header-slide--item" href="#">Placeholder 2</a>
        <a class="header-slide--item" href="#">Placeholder 3</a>
        <div class="header-slide--separator"></div>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="header-slide--item" asp-area="" asp-controller="Home" asp-action="Login">Sign In</a>
        }
        else
        {
            <a class="header-slide--item" asp-area="" asp-controller="Home" asp-action="Logout">Sign Out</a>
        }
        <a class="header-slide--item" href="https://github.com/codidact/core">on GitHub</a>
    </aside>
    <main class="container has-padding-4">
        @RenderBody()
    </main>

    <footer class="has-padding-4 has-border-top-style-solid has-border-top-width-1 has-border-color-tertiary-050">
        <div class="container">
            &copy; 2020 - Codidact - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true" async></script>
</body>
</html>
