@page
@inject IStringLocalizer<ErrorModel> localizer
@model ErrorModel
@{
    ViewData["Title"] = localizer["Error_page_tite"];
}

<h1 class="text-danger">@localizer["Error_title"]</h1>
<h2 class="text-danger">@localizer["Error_subtitle"]</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>@localizer["Request_ID"]:</strong> <code>@Model.RequestId</code>
</p>
}

