@page
@using System.Linq;
@using Entities = Codidact.Core.Domain.Entities;
@using Enums = Codidact.Core.Domain.Enums;
@model IndexModel
@{
    ViewData["Title"] = "Codidact";
}

@foreach (var Question in Model.Questions)
{
    <div class="item-list">
        <div class="item-list--item">
            <div class="item-list--number-value">
                <div class="item-list--number">@Question.Score</div>
                <div class="item-list--number-label">answers</div>
            </div>
            <div class="item-list--number-value">
                <div class="item-list--number">
                    @Question.InverseParentPost.Count()
                </div>
                <div class="item-list--number-label">votes</div>
            </div>
            <div class="item-list--text-value is-primary">
                <div class="margin-bottom-2"><a href="#" class="has-font-size-larger">@Question.Title</a></div>
                <div class="has-padding-1">
                    @foreach (var Tag in Question.PostTag)
                    {
                        <a href="#" class="badge is-tag is-master-tag">@Tag.Tag.Body</a>
                    }
                </div>
            </div>
            <div class="item-list--image-value">
                <a href="#!"><img src="https://placekitten.com/100/100" alt="placeholder image"></a>
            </div>
            <div class="item-list--number-value">
                <div class="item-list--number-label has-font-size-small">last active</div>
                <div class="item-list--number has-font-size-small">1d</div>
            </div>
        </div>
    </div>
}