@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="./QA/Index">See our questions</a> or <a href="./QA/AddQuestion">Ask a new one</a>
</div>
