@{
    ViewData["Title"] = "Create an Account";
}

<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
</div>

<div style="width: 400px; max-width: 95%; margin: auto; padding: 5px 15px 5px 15;">
    <form method="post" action="/Home/Register" style="width: 400px; max-width: 95%; margin: auto;">
        <div class="widget" style="width: 400px; max-width: 95%; margin: auto; padding: 20px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
            <div>
                <label class="form-element" id="label-email" for="input-email">Email</label>
                <input type="email" class="form-element" id="input-email" name="email" autocomplete="off" required="required" aria-labelledby="label-email" />
                <p><small style="color: darkgray;"><!--Your email will be used solely for internal purposes, such as account recovery and important communication. --->We do not share this information with any third parties.</small></p>
            </div>

            <div>
                <label class="form-element" id="label-display-name" for="input-display-name">Display Name</label>
                <input type="text" class="form-element" id="input-display-name" name="display-name" autocomplete="off" required="required" aria-labelledby="label-display-name" />
                <p><small style="color: darkgray;">It need not be unique, and can be changed later.</small></p>
            </div>

            <div>
                <label class="form-element" id="label-password" for="input-password">Password</label>
                <input type="password" class="form-element" id="input-password" name="password" required="required" aria-labelledby="label-password" />
                <p><small style="color: darkgray;">Please pick a good one.</small></p>
            </div>

            <div>
                <label class="form-element" id="label-confirm-password" for="input-confirm-password">Confirm Password</label>
                <input type="password" class="form-element" id="input-confirm-password" name="confirm-password" required="required" aria-labelledby="label-confirm-password" />
            </div>
        </div>

        <br />

        <div class="widget" style="width: 400px; max-width: 95%; padding: 5px 30px 5px 30px; border-style: none;">
            <button type="submit" class="button is-filled" id="button-submit">Create Account</button>
            <p><small id="info-submit">Already have an account?&nbsp;<a href="/Home/Login" class="is-not-underlined">Log in.</a></small></p>
        </div>
    </form>
</div>
