@{
    ViewData["Title"] = "Create an Account";
}

<h1>@ViewData["Title"]</h1>

<form method="post" action="/Home/Register">
    <div>
        <div class="notice" id="notice-email-privacy-information" style="display: none; z-index: 1;">
            <p>Your email will be used solely for internal purposes, such as account recovery and important communication. We do not share this information with any third parties.</p>
        </div>
        
        <label class="form-element" id="label-email" for="input-email">Email<button type="button" class="button is-icon-only-button" id="button-email-info" onclick="toggleViewEmailPrivacyInfo()">&#63;</button></label>
        <input type="email" class="form-element" id="input-email" name="email" autocomplete="off" required="required" aria-labelledby="label-email" />
    </div>

    <div>
        <label class="form-element" id="label-username" for="input-username">Username</label>
        <input type="text" class="form-element" id="input-username" name="username" autocomplete="off" required="required" aria-labelledby="label-username" />
    </div>

    <div>
        <label class="form-element" id="label-password" for="input-password">Password</label>
        <input type="password" class="form-element" id="input-password" name="password" required="required" aria-labelledby="label-password" />
    </div>

    <div>
        <label class="form-element" id="label-confirm-password" for="input-confirm-password">Confirm Password</label>
        <input type="password" class="form-element" id="input-confirm-password" name="confirm-password" required="required" aria-labelledby="label-confirm-password" />
    </div>

    <div>
        <button type="submit" class="button is-filled" id="button-submit">Create Account</button>
        <p><small id="info-submit">Already have an account?&nbsp;<a href="/Home/Login" class="is-not-underlined">Log in.</a></small></p>
    </div>
</form>
